pkgbase = xf86-input-mtrack-git
	pkgdesc = A multitouch X driver using the kernel MT protocol
	pkgver = 20150727.c1301b0
	pkgrel = 1
	url = http://github.com/BlueDragonX/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = xorg-server-devel
	makedepends = resourceproto
	makedepends = glproto
	depends = mtdev
	depends = libxss
	provides = xf86-input-mtrack
	conflicts = xf86-input-mtrack
	backup = usr/share/X11/xorg.conf.d/10-mtrack.conf
	source = xf86-input-mtrack::git+https://github.com/BlueDragonX/xf86-input-mtrack.git
	source = 10-mtrack.conf
	sha256sums = SKIP
	sha256sums = 5e0bc6ee814165be31e0265842f066c290b544757451d15c7e6eb370d4c0e356

pkgname = xf86-input-mtrack-git

